<div class="bg-light rounded p-4 contenedor">
    <div class="chat-messages text-dark mb-2">
    </div>
    <form id="chat-form">
        <div class="text-dark p-4 input-group">
            <input id="msg" class="form-control" type="text" placeholder="Envia un mensajes" required autocomplete="off"/>
            <button class="input-group-text text-success"><i class="fas fa-paper-plane me-2"></i> Enviar</button>
        </div>        
    </form>
</div>