<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-9">
            <div class="bg-light text-center rounded p-2 contenedor" style="min-height: 500px;">
                <div class="d-flex align-items-center justify-content-between">
                    <div id="video-share" style="display: block; box-sizing: border-box; width:100%"></div>                    
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-3">
            <div class="bg-light text-center rounded p-2 contenedor mb-4">
                <div class="row">
                    <div class="btn-group" role="group">
                        <button class="btn btn-warning" id="btn-sound" title="Activar el microfono" onclick="guestMic()" type="button"><i class="fas fa-volume-mute me-2"></i></button>    
                        <button title="Abrir panel informativo de la defensa" type="button" class="btn btn-info text-dark w-70" data-bs-toggle="modal" data-bs-target="#PriModal"><i class="far fa-address-card me-2"></i>Información</button>
                        <button class="btn btn-danger w-20"><a href="/" class="text-decoration-none text-dark"><i class="fas fa-ban me-2"></i>Salir</a></button>        
                    </div>
                </div>                
            </div>
            <div class="bg-light text-center rounded p-2 contenedor" style="min-height: 250px;">
                <div class="d-flex align-items-center justify-content-between">
                    <div id="video-grid" style="display: block; box-sizing: border-box; width:100%"></div>
                </div>
            </div>
        </div>
    </div>    
</div>
{{{modal}}}

<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js" integrity="sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>    
<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js "></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="/javascripts/room/guest.js"></script>
<script src="/javascripts/utils/modal.js"></script>